:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #007AFF;
  --color-accent-blue: #007AFF;
  --color-accent-cyan: #5AC8FA;
  --color-accent-gold: #F1AA05;
  --color-accent-purple: #AF51DE;
  --color-accent-green: #35C759;
  --color-separator: rgba(60, 60, 67, 0.36);
  --color-icons: #959595;
  --color-label-secondary: #8E8E93;
  --color-label-tabbar: rgba(84, 84, 88, 0.65);
  --color-label-date: #6D6D71;
  --color-bg-secondary: #EFEFF3;
  --color-bg-notification: rgba(45, 45, 45, 0.8);
  --color-bg-tabbar: rgba(241, 241, 242, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  touch-action: pan-x pan-y;
  --color-foreground: var(--color-text);
  --color-background: var(--color-white);
  --color-tabbar: var(--color-bg-tabbar);
  --color-active-toggle: var(--color-white);
}
html.is-night {
  --color-foreground: var(--color-white);
  --color-background: #1C1C1E;
  --color-tabbar: rgba(30, 30, 30, 0.75);
  --color-label-tabbar: rgba(255, 255, 255, 0.4);
  --color-bg-secondary: #000000;
  --color-active-toggle: #2C2C2E;
}

body {
  min-height: 100vh;
  overflow: hidden;
  color: var(--color-foreground);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  overscroll-behavior-y: none;
}
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  position: relative;
}
section {
  position: absolute;
  background: var(--color-background);
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  z-index: 1;
}
h1 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  max-width: 329px;
}
h3 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 17px;
  color: var(--color-label-secondary);
  text-align: center;
  max-width: 329px;
}